<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=<%=ENV["tinymce_key"]%>"></script>
<script>
  tinymce.init({
    selector: 'textarea',
    height: 200,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table contextmenu paste code'
    ],
    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    content_css: '//www.tinymce.com/css/codepen.min.css'
  });
</script>
<%= form_for(@purchase_order_request, remote: true) do |f| %>
  <% if @purchase_order_request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@purchase_order_request.errors.count, "error") %> prohibited this request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @purchase_order_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <label for="project_approval_request_name">Product Name</label>
    <%= f.text_field :name , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price , value: @purchase_order_request.price_in_dollars, step: 0.01, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
