<p>
  <strong>User:</strong>
  <%= @purchase_order_request.user.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @purchase_order_request.notes.html_safe %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@purchase_order_request.price_in_dollars)%>
</p>

<p>
  <strong>Status:</strong>
  <%= status_label(@purchase_order_request.status) %>
</p>
<br>
<%= link_to verb(@purchase_order_request.user_id, current_user.id), edit_purchase_order_request_path(@purchase_order_request) ,"data-remote" => true ,class: "btn btn-sm btn-warning" %>
<%= link_to 'Destroy', @purchase_order_request, method: :delete, data: { confirm: 'Are you sure?' } ,"data-remote" => true ,class: "btn btn-sm btn-danger" %>
