<h1>Purchase Order Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Price</th>
      <th>Status</th>
      <th>Requested On</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_order_requests.each do |purchase_order_request| %>
      <tr>
        <td><%= purchase_order_request.user.name %></td>
        <td><%= purchase_order_request.name %></td>
        <td><%= purchase_order_request.notes %></td>
        <td><%= number_to_currency(purchase_order_request.price_in_dollars) %></td>
        <td><%= status_label(purchase_order_request.status) %></td>
        <td><%= purchase_order_request.created_at.strftime('%D') %></td>
        <td><%= link_to verb(purchase_order_request.user_id, current_user.id), edit_purchase_order_request_path(purchase_order_request) ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %></td>
        <td><%= link_to 'Destroy', purchase_order_request, method: :delete, data: { confirm: 'Are you sure?' } ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase Order Request', new_purchase_order_request_path ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %>
