      <tr>
        <td><%= @inventory_item.inventory_location %></td>
        <td><%= @inventory_item.name %></td>
        <td><%= @inventory_item.price %></td>
        <td><%= @inventory_item.unit_of_measurement %></td>
        <td><%= link_to 'Show', inventory_item ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %></td>
        <td><%= link_to 'Edit', edit_inventory_item_path(@inventory_item) ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %></td>
        <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %></td>
      </tr>
