<%- model_class = InventoryItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag search_item_path(), method: :get, class: "navbar-form pull-right" do %>
    <%= hidden_field_tag :inventory_location_id, @inventory_location.id %>
    <%= text_field_tag :id, "",class:"form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div style="clear:both;"></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:inventory_location_id) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:unit_of_measurement) %></th>
      <th>Units</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= link_to inventory_item.name.titleize, inventory_location_inventory_item_path(inventory_item.inventory_location, inventory_item) %></td>
        <td><%= inventory_item.inventory_location.name.titleize %></td>
        <td><%= inventory_item.price %></td>
        <td><%= inventory_item.unit_of_measurement %></td>
        <td><%= inventory_item.inventory_item_units.available.count %></td>
        <td><%=l inventory_item.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_inventory_location_inventory_item_path(inventory_item.inventory_location, inventory_item), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      inventory_location_inventory_item_path(inventory_item.inventory_location, inventory_item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_inventory_location_inventory_item_path(@inventory_location), :class => 'btn btn-primary' %>
<%= link_to 'Check Out Items', new_checkout_path , :class => 'btn btn-default' , "data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %>
