<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>User Type</th>
      <th>Last Login</th>
      <th>Joined On</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name.present? ? user.name : "Pending Invitation Acceptance"%></td>
        <td><%= user.user_type ?  user.user_type.name.titleize : "Pending Invitation Acceptance" %></td>
        <td><%= user.last_sign_in_at ? user.last_sign_in_at.strftime('%A, %d %b %Y %l:%M %p') : "Pending Invitation Acceptance"%></td>
        <td><%= user.created_at ? user.created_at.strftime('%D') : "Pending Invitation Acceptance" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Invite New User', new_user_invitation_path , class: "btn btn-primary"%>
