<%= form_for(@support_request, :remote=> true) do |f| %>
  <% if @support_request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@support_request.errors.count, "error") %> prohibited this request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @support_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :issue %>
    <%= f.text_area :issue, class:"tinymce form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :priority %>
    <%= f.select :priority, [["Urgent","urgent"], ["High","high"], ["Normal","normal"], ["Low", "low"]],{},{class:"form-control chzn-select"} %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>

<%= tinymce %>

<script>
$(document).on('focusin', function(e) {
    if ($(e.target).closest(".mce-window").length) {
        e.stopImmediatePropagation();
    }
});
</script>
