<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_approval_request.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project_approval_request.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @project_approval_request.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project_approval_request.status %>
</p>

<%= link_to 'Edit', edit_project_approval_request_path(@project_approval_request) ,"data-remote" => true , "data-toggle" => "modal", "data-target" => "#myModal" %> |
<%= link_to 'Back', project_approval_requests_path %>
